<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
        <style>
            .json {
                white-space: pre;
            }
        </style>
    </head>
    <body>
        <script src="/socket.io/socket.io.js"></script>
        <script src="./js/Playground.bundle.js"></script>
    </body>
</html>
