<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
  </head>
  <body>
    <div id="log"></div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="./js/Broadcaster.bundle.js"></script>
  </body>
</html>
